Template/client/bin/
Template/client/obj/
Template/server/bin/
Template/server/obj/
Template/.vs/
UnaryCalculator/.vs/
UnaryCalculator/client/bin/
UnaryCalculator/client/obj/
UnaryCalculator/server/bin/
UnaryCalculator/server/obj/
ServerStream/.vs/
ServerStream/client/bin/
ServerStream/client/obj/
ServerStream/server/bin/
ServerStream/server/obj/
ServerStreamPrime/server/bin/
ServerStreamPrime/server/obj/
ServerStreamPrime/client/obj/
ServerStreamPrime/.vs/
ServerStreamPrime/client/bin/
