gRPC_Template/client/bin/
gRPC_Template/client/obj/
gRPC_Template/server/bin/
gRPC_Template/server/obj/
gRPC_Template/.vs/
gRPC_Unary_Calculator/.vs/
gRPC_Unary_Calculator/client/bin/
gRPC_Unary_Calculator/client/obj/
gRPC_Unary_Calculator/server/bin/
gRPC_Unary_Calculator/server/obj/
gRPC_Server_Stream/.vs/
gRPC_Server_Stream/client/bin/
gRPC_Server_Stream/client/obj/
gRPC_Server_Stream/server/bin/
gRPC_Server_Stream/server/obj/
